<h1 class="title-is-1"><%= user.username %></h1>

<h2> <%= user.firstName %></h2>
<h2> <%= user.lastName %></h2>
<h2> <%= user.gender %></h2>
<h2> <%= user.email %></h2>

 <a class="button" href="/profile/edit">Edit Profile</a>
