<div class="container">
  <div class="columns">
    <div class="column is-6">
<figure class="image is-128x128">
  <img src="<%= user.imageSRC %>">
</figure>
<h1 class="title is-1"><%= user.username %>'s Profile</h1>
<h2> <%= user.firstName %></h2>
<h2> <%= user.lastName %></h2>
<h2> <%= user.gender %></h2>
<h2> <%= user.email %></h2>
</div>
</div>

 <a class="button" href="/profile/edit">Edit Profile</a>
</div>
