<div class="container">

  <div class="columns">
    <div class="column is-8">
      <img class="posts-page has-shadow" src="<%= landmark.imageSRC %>">

      </div>
      <div class="column">
        <div class="column">
          <h2 class="title is-2"><%= landmark.title %></h2>
          <hr>
          <h5 class="title is-5">Posted by...</h5>
          <h3 class="title is-3"><%= landmark.createdBy.username %> </h3><span><%= landmark.caption %>  </span>
          <span>
            <hr>
            <form method="POST" action="/landmarks/<%= landmark.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="button is-danger">Delete Your Post</button>
            </form>
            <br>
            <form method="POST" action="/landmarks/<%= landmark.id %>">
              <input type="hidden" name="_method" value="PUT">
              <button class="button is-success">Save Changes</button>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <label class="label">Subject</label>
        <p>Find places near this location!</p>
        <p class="control">
          <span class="select">
            <select disabled id="myselect">
              <option selected disabled>Please Choose</option>
              <option id="transport" >Transport</option>
              <option id="foodDrink" >Food & Drink</option>
              <option id="health" >Healthcare</option>
            </select>
          </span>
        </p>
        </div>
    </div>

    <hr>

    <div class="columns">
      <div class="column is-12">
        <div id="map" data-lat="<%= landmark.lat %>" data-lng="<%= landmark.lng %>"></div>
      </div>
    </div>

    <br>
    <br>

    <div class="columns">
      <div class="column is-12">

        <% landmark.comments.forEach((comment) => { %>
          <div class="box">
          <article class="media">
          <figure class="media-left">
          <p class="image is-64x64">
          <img src="<%= comment.createdBy.imageSRC %>">
          </p>
          </figure>

          <div class="media-content">
          <div class="content">
          <p>
          <strong><%= comment.createdBy.user %></strong>
          <small><%= comment.createdBy.username %></small>


          <br>
          <%= comment.content %>
          </p>
          </div>

          <nav class="level is-mobile">
          <div class="level-left">
          <a class="level-item">
          <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
          <a class="level-item">
          <span class="icon is-small"><i class="fa fa-heart"></i></span>
          </a>
          </div>
          </nav>
          </div>
          <div class="media-right">

            <form method="POST" action="/landmarks/<%= landmark.id %>/comments/<%= comment.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="delete"></button>
            </form>

            </div>
            <div>
            <small><%= comment.createdAt.toDateString() %></small>
            </div>

            </div>
            <% }) %>

          </article>
        </div>
      </div>
    </div>
