<div class="container">
<h1 class="title is-1">Posts</h1>



<div class="columns is-multiline">
<% landmarks.forEach((landmark) => { %>
<div class="column is-4">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <a href="/landmarks/<%= landmark.id %>"><img src="<%= landmark.createdBy.imageSRC %>"><img src="<%= landmark.imageSRC %>"></a> s
      </figure>
    </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="<%= landmark.createdBy.imageSRC %>">
        </figure>
        
      </div>
        <p class="title is-3"><%= landmark.createdBy.username %></p>
    </div>
  </div>
  <div class="media-content">
    <p class="subtitle is-6"><%= landmark.caption %></p>
    <small><%= landmark.createdAt.toDateString() %></small>
  </div>
  </div>
</div>
  <% }) %>
</div>
</div>
